# build
cython
wheel

# database
Alchy
SQLAlchemy<1.4
pymysql

cyvcf2
xlrd==1.2.0
pysam
pyyaml
coloredlogs
click
jinja2==2.11.2
markupsafe==1.1.1
itsdangerous==1.1.0

# server
Flask==1.1.1
Flask-Bootstrap
Flask-Reverse-Proxy
Flask-SQLAlchemy==2.1
Flask-Alchy
Flask-Security
werkzeug<1.0.0  #due to breaking change
Flask-Login
Flask-Dance
ruamel.yaml
gunicorn
