# build
cython

# database
Alchy
SQLAlchemy
pymysql

yaml
cyvcf2<0.10.0
xlrd
pysam==0.15.2           # due to inability to rebuild newer pysam version

# server
Flask>=1.1.1
Flask-Bootstrap
Flask-Reverse-Proxy
Flask-SQLAlchemy==2.1
Flask-Alchy
Flask-Security
werkzeug<1.0.0  #due to breaking change
Flask-Login
Flask-Dance
ruamel.yaml
