{% extends "genotype/base.html" %}

{% block content %}
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Upload genotyping results</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" action="{{ url_for('genotype.upload') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="excelInput">Excel file</label>
                        <input class="form-control" id="excelInput" type="file" name="excel_input" id="excelInput">
                    </div>

                    <div class="form-group">
                        <label for="forceCheck">Force</label>
                        <input type="checkbox" value="true" name="force" checked>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" action="{{ url_for('genotype.search_sample') }}" method="GET" accept-charset="utf-8">
                <div class="form-group">
                    <label for="sampleId">Find plate</label>
                    <input type="text" class="form-control" id="sampleId" placeholder="sample id" name="sample_id">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Plates</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for plate_id, plate_path in plates %}
                <tr>
                    <td><a href="{{ url_for('genotype.plate', plate_id=plate_path) }}" title="{{ plate_id }}">{{ plate_id }}</a></td>
                    <td>
                        <form action="{{ url_for('genotype.delete_plate') }}" method="POST" accept-charset="utf-8">
                            <input name="plate_id" value="{{ plate_path }}" hidden></input>
                            <button class="btn btn-default btn-xs" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
