{% extends "genotype/base.html" %}

{% block content %}
    <div class="page-header">
        <h5><a href="{{ url_for('genotype.index') }}">Home</a></h5>
        <h3>/{{ plate_id }}</h3>
        <div>
            <a class="btn btn-primary" href="{{ url_for('genotype.analyze_plate', plate_id=plate_id) }}">Analyze</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2">Sample</th>
                <th colspan="3">Sex</th>
                <th rowspan="2">Actions</th>
                <th rowspan="2">Result</th>
            </tr>
            <tr>
                <th>Expected</th>
                <th>Sequencing</th>
                <th>Genotyping</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
                {% if sample.same_sex() == 'success' %}
                    {% set sex_class = 'success' %}
                {% elif sample.same_sex() == 'fail' %}
                    {% set sex_class = 'danger' %}
                {% else %}
                    {% set sex_class = 'default' %}
                {% endif %}

                {% set is_success = sample.is_success() %}

                <tr {% if is_success %}class="bg-success"{% endif %}>
                    <td>
                        {% if sample.is_ready() %}
                            <a href="{{ url_for('genotype.sample', sample_id=sample.sample_id) }}">
                                {{ sample.sample_id }}
                            </a>
                        {% else %}
                            {{ sample.sample_id }}
                        {% endif %}
                    </td>
                    <td class="bg-{{ sex_class }}">
                        {{ sample.expected_sex or '' }}
                    </td>
                    <td class="bg-{{ sex_class }}">
                        {{ sample.sexes().sequencing or '' }}
                    </td>
                    <td class="bg-{{ sex_class }}">
                        {{ sample.sexes().genotyping or '' }}
                    </td>
                    <td>
                        {% if sample.is_ready() %}
                            <a class="btn btn-info btn-xs" href="{{ url_for('genotype.analysis', sample_id=sample.sample_id) }}">Compare</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_success %}
                            Matches: {{ sample.matches()|join(', ') }}
                        {% elif sample.results %}
                            {% for result in sample.results[:2] %}
                                <a href="{{ url_for('genotype.compare_samples', sample1=sample.sample_id, sample2=result.sample.sample_id) }}">{{ result.analysis.sample.sample_id }}</a>
                                [{{ result.matches }}/{{ result.mismatches }}/{{ result.unknowns }}/51] <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
