{% extends "genotype/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-center">
                            <h1>Welcome to Taboo!</h1>
                        </div>
                    </div>

                    <div class="panel-body">
                        <img class="img-responsive center-block" src="{{ url_for('static', filename='logo.png') }}" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
