<!DOCTYPE html>
<html>
<head>
    <title>Taboo - Samples</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload genotyping results</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="excel_input" id="excelInput">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Sample</th>
                    <th colspan="2">Sex</th>
                    <th rowspan="2">Comparison</th>
                </tr>
                <tr>
                    <th>Sequencing</th>
                    <th>Genotyping</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                    {% if sample.same_sex() == 'success' %}
                        {% set sex_class = 'success' %}
                    {% elif sample.same_sex() == 'fail' %}
                        {% set sex_class = 'danger' %}
                    {% elif sample.same_sex() == 'unknown' %}
                        {% set sex_class = 'info' %}
                    {% else %}
                        {% set sex_class = 'nothing' %}
                    {% endif %}

                    {% set is_success = sample.is_success() %}

                    <tr {% if is_success %}class="bg-success"{% endif %}>
                        <td>{{ sample.sample_id }}</td>
                        <td class="bg-{{ sex_class }}">
                            {{ sample.sexes().sequencing }}
                        </td>
                        <td class="bg-{{ sex_class }}">
                            {{ sample.sexes().genotyping }}
                        </td>
                        <td>
                            {% if is_success %}
                                Matches: {{ sample.matches()|join(', ') }}
                            {% else %}
                                {% set label_class = 'info' if sample.is_ready() else 'default' %}
                                <a class="btn btn-{{ label_class }}" href="{{ url_for('analysis', sample_id=sample.sample_id, skip=skip, limit=limit) }}">Run</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    {% if skip > 0 %}
                    <a href="{{ url_for('index', skip=skip-limit) }}">Previous</a> |
                    {% endif %}
                    {{ skip }}-{{ skip + limit }} |
                    <a href="{{ url_for('index', skip=skip+limit) }}">Next</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
